.header {
    height: 95vh; /* 95% of viewport height */
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)),
          url('../img/hero.jpg');
    background-size: cover; 
    background-position: top; /*top of image always stays at top of container */
    /* clockwise clippath */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative; /* so we can set .logo-box img container to absolute */

    &__logo-box {
        position: absolute; /* we set .header to relative */
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute; /* recall header parent is relative */
        top: 40%;
        left: 50%; /* in relation to the parent element */
        transform: translate(-50%, -50%); /* these 50% are in relation now to the element itself not the parent any longer */
        text-align: center; /* to center the button */
    }
    

}

